 <div class="user-details">
  <h1> Who am I? </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <p>Programming Languages that I worked with until now: Python, C, C#, Assembly 8086.</p>
    </div>
   <div class="tech">
      <h2>Language</h2>
      <p>I love to learn new languages and understanding other people's view that comes from their daily basis. I am native at Turkish, almost native at English and pre-intermediate in Japanese.</p>
    </div>
    <div class="tech">
      <h2>Program</h2>
      <p>Programs that I currently know well: Xilinx Vivado, Xilinx ISE, LTspice, Electric VLSI, Code Composer Studio.</p>
    </div>
</div>
