<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> FPGA Project </h3>
    <ul>
      <li> Load optimization system with FPGA</li>
    </ul>
    <p>On the project there are two dc motor. One of them driven with external unknown signal. FPGA recognizes that signal with output of that motor(quadrature signals). Then optimizes other motor according to load's rpm. Also FPGA sends current rpm with UART to computer. So, we can see the situation real time.</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> Resistor Value Calculator </h3>
    <ul>
      <li> Free assembly x86 sample project</li>
    </ul>
    <p>This was a term project for me in class but a lot of my friend couldn't handle with project properly. I decided to open my code so that people can learn from sample.</p>
  </div>
</div>
